.header {
  background: #03A9F4;
  padding: 1.25em 1.25em;
  text-align: center;
  font-size: 1.25em;
  color: white;
  font-weight: 700;
  margin-bottom: 3.125em;
}

.App {
  flex-direction: row;
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin-bottom: 6.25em;
}

.radio-station {
  background: #ddd;
  padding: 0.625em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9375em 0.3125em;
  cursor: pointer;
}

.radio-station img {
  width: 17em;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.station-name {
  color: white;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  border: 0.3125em black solid;
  display: inline-block;
  text-align: center;
  background: black;
  border-radius: 0.3125em;
}